@import url('https://fonts.googleapis.com/css?family=Yatra+One');

body{
  background-image: url("sharon-mccutcheon-8lnbXtxFGZw-unsplash.jpg");
  background-size: cover;
  background-attachment: fixed;
}


.titles{
  text-align: center;
  font-family: 'Yatra One', cursive;
  text-shadow: 0 0 8px green;
  font-size: 50px;
  color: black;
}

.titles1{
  text-align: center;
  font-family: 'Yatra One', cursive;
  text-shadow: 0 0 8px green;
  font-size: 25px;
  color: black;
}

.hey{
  padding: 30px;
  margin-left: px;
  margin-right: px;
  margin-top: px;
  margin-bottom: px;
  border-style: solid;
  font-family: 'Yatra One', cursive;
color: black;
  font-size: 20px;
  background-color: #9bd179;
}

.now{
  padding: 15px;
  background-color: #9bd179;
}

.status{
    font-family: 'Yatra One', cursive;
    color: black;
    font-size: 20px;
    text-align: center;
}

/*
Inside this is where changes are made specifically for desktop
*/

@media only screen and (min-width: 768px){
img{
  width: 40%;
}
}